<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="price">
      <div class="price_header">
        <h3>Ready to Unlock Premium?</h3>
        <a href="#">View all pricing plans</a>
      </div>
      <div class="price_content">
        <div class="price_singal_card">
          <h5>Single</h5>
          <p>For Free Deliveries</p>
          <button class="btn m-4" style="color: aliceblue">$9.99/month</button>
          <a href="#">Join Now</a>
        </div>
        <div class="price_singal_card">
          <h5>Duo</h5>
          <p>Speacial discounts and offers</p>
          <button class="btn" style="color: aliceblue">$12.99/month</button>
          <a href="#">Continue with team</a>
        </div>
        <div class="price_singal_card">
          <h5>Family</h5>
          <p>Speacial Offers and more speacial discounts</p>
          <button class="btn" style="color: aliceblue">$14.99/month</button>
          <a href="#">Contact Sales</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
